
@font-face
  font-family: 'Boston Black It'
  font-style: normal
  font-display: swap
  src: url('../static/fonts/Boston-BlackIt.otf')

@font-face
  font-family: 'Boston SemiBold'
  font-style: normal
  font-display: swap
  src: url('/fonts/Boston-SemiBold.otf')
