.font-pt
  font-family: 'PT Sans'

@font-face
  font-family: 'PT Sans'
  font-style: normal
  font-display: swap
  src: url('/fonts/PTSans-Regular.ttf')
@font-face
  font-family: 'PT Sans'
  font-style: normal
  font-weight: bold
  font-display: swap
  src: url('/fonts/PTSans-Bold.ttf')
@font-face
  font-family: 'PT Sans'
  font-style: italic
  font-weight: bold
  font-display: swap
  src: url('/fonts/PTSans-BoldItalic.ttf')
@font-face
  font-family: 'PT Sans'
  font-style: italic
  font-display: swap
  src: url('/fonts/PTSans-Italic.ttf')

@font-face
  font-family: 'Noto Sans'
  font-style: normal
  font-display: swap
  src: url('/fonts/NotoSans-Regular.ttf')
@font-face
  font-family: 'Noto Sans'
  font-style: normal
  font-weight: bold
  font-display: swap
  src: url('/fonts/NotoSans-Bold.ttf')
@font-face
  font-family: 'Noto Sans'
  font-style: italic
  font-weight: bold
  font-display: swap
  src: url('/fonts/NotoSans-BoldItalic.ttf')
@font-face
  font-family: 'Noto Sans'
  font-style: italic
  font-display: swap
  src: url('/fonts/NotoSans-Italic.ttf')
