@import './breakpoints'
@import './theme'
@import './fonts'
@import './code-theme'

*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none
  scroll-behavior: smooth

html
  font-family: 'Noto Sans JP', 'Source Sans Pro', sans-serif
  font-size: 20px
  line-height: 1.3
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
*::selection
  background-color: var(--app-color-primary)
  color: var(--app-color-contrast-text)

::-webkit-scrollbar
  width: 5px
  height: 5px

::-webkit-scrollbar-track
  background: var(--app-color-background)

::-webkit-scrollbar-thumb
  background: var(--app-color-primary)


.vh-full
  min-height: 100vh
main
  position: relative
  color: var(--app-color-text)
  transition: background-color .6s cubic-bezier(0.215,0.61,0.355,1)
  background-color: var(--app-color-background)

  padding-bottom: 40px
  @include screen-md
    padding-bottom: unset

