body,
body[data-theme='dark']
  --app-color-primary: #66ef73
  --app-color-primary-rgb: 102, 239, 115
  --app-color-background: #100f10
  --app-color-text: #e0e0e0
  --app-color-contrast-text: #100f10
  --app-color-gray-text: #aaaaaa

  --app-color-title: #e0e0e0
  --app-color-title-1: #021704aa
  --app-color-title-2: #07450daa
  --app-color-title-3: #0c7316aa
  --app-color-title-4: #11a21faa
  --app-color-title-5: #16d027aa


body[data-theme='light']
  --app-color-primary: #66ef73
  --app-color-primary-rgb: 102, 239, 115
  --app-color-background: #fefefe
  --app-color-text: #000000
  --app-color-contrast-text: #000000
  --app-color-gray-text: #aaaaaa

  --app-color-title: #fefefe
  --app-color-title-1: #021704aa
  --app-color-title-2: #07450daa
  --app-color-title-3: #0c7316aa
  --app-color-title-4: #11a21faa
  --app-color-title-5: #16d027aa

body[data-theme='coffee']
  --app-color-primary: #6a461e
  --app-color-primary-rgb: 106, 70, 30
  --app-color-background: #f9dec9
  --app-color-text: #000000
  --app-color-contrast-text: #f9dec9
  --app-color-gray-text: #9e9e9e

  --app-color-title: #f9dec9
  --app-color-title-1: #3c2711aa
  --app-color-title-2: #63421caa
  --app-color-title-3: #8b5c27aa
  --app-color-title-4: #b37633aa
  --app-color-title-5: #cc904caa
